html {
    width: 1600px;
    height: 2348px;
    top: -1664px;
    left: 1387px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


    
body {
    background-color: #ffffff;
}

  /* Button-Top */
.web-text-color {
    width: 145px;
    height: 31px;
    margin-top: 24px;
    margin-left: 215px;
    font: sans-serif; 
    color: #2196F3;
}

.studio-text-color {
    width: 145px;
    height: 31px;
    color: #000000;
    text-decoration: none;
}

.Studio-button {
    width: 42px;
    height: 16px;
    margin-top: 32px;
    margin-left: 93px;
    text-decoration: none;
    color: #2196F3;
}

.Portofoliu-button {
    width: 58px;
    height: 16px;
    margin-top: 32px;
    margin-left: 50px;
    text-decoration: none;
    background-color: transparent;
    color: #212121;
}

.Contacts-button {
    width: 65px;
    height: 16px;
    margin-top: 32px;
    margin-left: 44px;
    text-decoration: none;
    color: #212121;
}

.Email-button {
    width: 135px;
    height: 16px;
    margin-top: 32px;
    margin-left: 385px;
    text-decoration: none;
    color: #757575;
}

.Number-button {
    width: 113px;
    height: 16px;
    margin-top: 32px;
    margin-left: 40px;
    color: #757575;
    text-decoration: none;
}

.section-webstudio {
    background-color: transparent;
}

.span-webstudio {
    margin-top: 50px;
}

.effective-solution {
    background-image: 
    linear-gradient( rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4) ),
    url(/images/background-photo.jpg);
    text-align: center;
    width: 1680px;
    height: 600px;
}

.layout-text {
    background-color: transparent;
    color: aliceblue;
    height: 40px;
    width: 1680px;
    padding-top: 250px;
}

.request-our-service {
    width: 200px;
    height: 50px;
    flex-shrink: 0;

    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    font-size: 16px;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    line-height: 187.5%;
    cursor: pointer;
    color: #f5f4fa;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.96px;
    transition: color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1) ease;
    text-align: center;
}

.antenna {
    background-color: transparent ;
    width: 70px;
    height: 70px;
    background-image:
     url(/images/background.featuree.png);
    

}

.clock {
    background-color: transparent ;
    width: 70px;
    height: 70px;
    background-image: 
    url(/images/background.featuree.png);
   
}

.tv {
    background-color: transparent ;
    width: 70px;
    height: 70px;
    background-image: 
    url(/images/background.featuree.png);
   
}

.astronaut {
    background-color: transparent ;
    width: 70px;
    height: 70px;
    background-image: 
    url(/images/background.featuree.png);
    
}

.antenna-section {
    margin-top: 200px;
    margin-left: 215px;
}

.clock-section {
    margin-top: -227px;
    margin-left: 515px;
}

.tv-section {
    margin-top: -225px;
    margin-left: 815px;
}

.astronaut-section {
    margin-top: -226px;
    margin-left: 1115px;
}

.paragraf-future {
    width: 270px;
    height: 75px;
}

.whatwedo {
    margin-top: 100px;
    text-align: center;
}

.desktopbg {
    color: #fff;
    text-align: center;
    width: 370px;
    height: 70px;
    margin-left: 100px;
    margin-top: -60px;
    color: #000;
}

.mobilebg {
    color: #fff;
    width: 370px;
    height: 70px;
    margin-left: 680px;
    color: #000;
    margin-top: -300px;
}

.designbg {
    color: #fff;
    text-align: center;
    width: 370px;
    height: 70px;
    margin-left: 1000px;
    margin-top: -60px;
}

.our-team {
    margin-top: 100px;
    text-align: center;
}

.product-designer {
    margin-left: 215px;
}

.finish-footer {
    background: #2F303A;
    width: 1680px;
    height: 251px;
    margin-left: 0px;
}



.img1 {
    margin-left: 200px;
    width: 370px;
    height: 294px;
}

.img2 {
    width: 370px;
    height: 294px;
    margin-left: 30px;
}

.img3 {
    width: 370px;
    height: 294px;
    margin-left: 30px;
}


.web-text-finish {
    color: #2196F3;
    width: 145px;
    height: 31px;
    text-decoration: none;
}

.location-footer {
    color: #fff;
}

.email-footer {
    color: gray;
}

.number-footer {
    color: gray
}

.studio-text-finish {
    color: #fff;
    text-decoration: none;
    width: 145px;
    height: 31px;
}

.img-wedo {
    color: #fff;
    background-color: #2F303A;
}